@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}



.admin-container {
    height: 100%;
    padding: 50px 80px 80px 80px;
    padding-bottom: 60px;
    
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: minmax(min-content, max-content);
    grid-template-areas:    "title tabs"
    "content content";
}

.admin-title {
    font-size: 2.5rem;
    color: rgb(19, 19, 19);

}

.admin-menu-option { 
    text-transform: unset !important;
    
}

.pagination-container {
    /* center text horizontally and vertically */
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 50px;
}

.empty-msg-container{
    margin-top: 80px;
    text-align: center;
}

.empty-list-msg {
    color: #797979;
}

.forbidden-msg{
    color: rgb(121, 121, 121);
    font-size: 1.2rem;
}

.check-icon-admin{
    color: #4E944F !important;
}

.check-icon-admin:hover{
    background-color: #83bd75b4 !important;
}

.cancel-icon-admin{
    color: #D83A56 !important;
}

.cancel-icon-admin:hover{
    background-color: #ff616ea1 !important;
}

.list-item-admin {
    text-decoration: none !important;
    color: #000000 !important;
}

.list-item-button {
    border-radius: 6px !important;
}

.list-item-button:active {
    color: #9966ccc9 !important;
}

.list-item-button:hover {
    background-color: #9966cc1c !important;
}

.admin-title {
    grid-area: title;
    
    font-weight: 600;
    font-size: 2.5rem;
    color: rgb(19, 19, 19);

}

.delete-icon-admin {
    color: rgb(34, 34, 34) !important;
}

.delete-icon-admin:hover {
    background-color:#ff616e54 !important;
    color: #D83A56 !important;
}

.forbidden-img{
    width: 140px;
    height: 140px;
    margin-top: 100px;
}

.forbidden-stack{
    /* center text horizontally and vertically */
    display: flex;
    align-items: center;
    justify-content: center;
}

.forbidden-container{
    /* center text horizontally and vertically */
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-menu {
    grid-area: tabs;
    margin-left: auto;
}

.admin-content {
    grid-area: content;
    margin-top: 60px;
}

.admin-list-divider{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

@media (max-width: 1500px) {
    .admin-container {
      display: grid;
      height: 100%;
      grid-auto-rows: minmax(min-content, max-content);
      grid-template-columns: 100%;
      grid-template-areas: "title"
      "tabs"
      "content";

      padding-bottom: 40px;
    }

    .admin-menu {
        margin-top: 20px;
        margin-left: 0;
    }

    .pagination-container {
        margin-top: 40px;
    }
}