@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


.bids-container {
    height: 100%;
    padding: 20px 80px 0px 80px;
    /* padding-bottom: 0px; */
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 120px 56px 86%;
    grid-template-areas:    "title search"
                            "nothing filtertags"
                            "filters products";


    
}

.filters-location-button-container {
    grid-area: locationbutton;
    /* background-color: red; */
    /* margin-left: auto; */
}


.filters-location-button {
    /* margin-left: 5% !important; */
    height: 100%;
    width: 100%;



    border-radius: 12px !important;

    background-color: #9966cc !important;
}

.filters-location-button:hover {
    background-color: #a570db !important;

}



.filters-location-textfield{
    width: 96% !important;
}

.filters-options-show-hide {
    display: none;
    grid-area: filters-btn;
}

.products-stack {
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 100px;

}


.filtertags {
    grid-area: filtertags;
    /* background-color: aqua; */

    padding-left: 30px;
    
    /* center contains vertically */
    display: flex;
    align-items: center;
}


.search-bar{
    background-color: #f1f1f1 !important;
    border-radius: 20px !important;
    width: 80% !important;
    color: #f1f1f1 !important;
    outline: none !important;
}

.circular-container {
    /* center text horizontally and vertically */
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bids-title{
    grid-area: title;
    /* background-color: red; */
    
    /* center text vertically */
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.bids-title > h4 {

    font-weight: 600;
    font-size: 2.5rem;
    color: rgb(19, 19, 19);

}

.bids-searchbar{
    grid-area: search;
    /* background-color: aquamarine; */
    
    /* center seach bar horizontally and vertically */
    display: flex;
    align-items: center;
    justify-content: center;
}

.bids-filters{
    display: block;

    grid-area: filters;
    /* background-color: blueviolet; */
}

.bids-products{
    grid-area: products;
    /* background-color: lavender; */
}

.filter-title {
    font-size: 1.1rem;
    font-weight: 500;
    
    color: rgb(19, 19, 19);

}

.categ-list-options{
    margin-top: 20px !important;
}

.filter-list-box:active{
    color: blueviolet;
    color: #3a8589;

}


.price-range-bar {
    margin-top: 20px !important;
    width: 85% !important;
    max-width: 400px !important;
}

.price-range-textfields {
    display: grid;
    /* i don't want this to be responsive (no percentages used) */
    grid-template-columns: 120px 120px 10%;
    grid-template-areas: "minprice maxprice submitbtn";
    
    margin-top: 40px !important;
}

.minprice-textfield-container {
    grid-area: minprice;
}

.maxprice-textfield-container {
    grid-area: maxprice;
    
}

.price-range-button {
    grid-area: submitbtn;
    background-color: #9966cc;
    /* background-color: #1e2749; */
    

    border-radius: 4px;
    
    /* center submit icon horizontally and vertically */
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-range-icon{
    color: #f1f1f1 !important;
}

.price-range-button:hover{
    background-color: #a570db;
    cursor: pointer;
}

.minprice-textfield,
.maxprice-textfield {
    width: 110px;
}

.pagination-container-bids {
    /* center text horizontally and vertically */
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 60px !important;
}

@media (max-width: 1750px) {
    .bids-container {
        display: grid;
        grid-template-rows: 100px 80px min-content 40px min-content;
        grid-template-columns: 50% 50%;
        grid-template-areas:    "title search"
                                "filters-btn filters-btn"
                                "filters filters"
                                "filtertags filtertags"
                                "products products";
    }

    .filters-options-show-hide {
        display: block;
        /* background-color: #3a8589; */
        
        /* center contains vertically */
        display: flex;
        align-items: center;
    }

    .bids-filters {
        display: none;
        /* background-color: #9966cc; */
    }

    .products-stack {
        padding: 0px;
        padding-bottom: 100px;
        
        
    }

    .filtertags {
        padding-bottom: 16px;
        padding-left: 0px;
    }

}