@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.product-list-card {
    
    width: 100%;
    height: 140px;

    border-radius: 5px;
    border: 1px solid;
    border-color: #f1f1f1;

    background-color: #f5f5f5;

    display: grid;
    grid-template-columns: 180px calc(100% - 180px);
    grid-template-areas: "image info";


}

.product-list-title:hover{
    cursor: pointer;
    text-decoration: underline;
}

.product-list-img-container{
    grid-area: image;

    border-radius: 5px 0px 0px 5px;
    background-color: white;

    /* center img horizontally and vertically */
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-list-info{
    grid-area: info;

    /* padding-left: 20px; */
    padding-top: 8px;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40px 60px 30px;
    grid-template-areas:    "product-title product-title product-title"
                            "product-owner product-owner product-owner"
                            "product-details product-details product-details";
}


.product-list-image{
    object-fit: cover;
    /* margin-left: 20px; */
    height: 110px;
    width: 110px;
}

.product-list-img-container:hover{
    cursor: pointer;
}

.product-list-title{
    padding-left: 20px;
    font-weight: 500;
    font-size: 1.4rem;
    color: #131313;
}

.product-list-owner-text{
    padding-left: 20px;
    color: #9c9c9c;
}

.product-list-owner-container {
    grid-area: product-owner;
    font-size: 0.9rem;
}

.product-list-details-container {
    grid-area: product-details;

    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "bidders currentprice";

    /* background-color: #131313; */
}

.current-bidders-container {
    grid-area: bidders;
    
    /* background-color: red; */
    font-size: 0.9rem;

   
}

.current-currentprice-container {
    grid-area: currentprice;
    /* background-color: aquamarine; */

    font-size: 0.9rem;

}

.current-bidders-stack{
    /* center contains vertically */
    display: flex;
    align-items: center;
}

.current-bidders-text {
    color: #9c9c9c;
}

.current-bidders-icon {
    margin-left: 4px;
    color: #9c9c9c;
    padding: 3px !important;
}

.product-list-title-container {
    grid-area: product-title;
    /* background-color: aqua; */

    /* center contains vertically */
    display: flex;
    align-items: center;
}