@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");


*,
*::before,
*::after {
    box-sizing: border-box;
}

.profile-container {
    display: grid;
    grid-template-columns: 25% 65% 10%;
    grid-template-rows: min-content;
    grid-template-areas: "picture info buttons"
                         "nothing nothing buttons"
                         "a map map";
    padding: 80px;
    height: 50%;
    /* background-color: darksalmon; */
}



.profile-buttons{
    grid-area: buttons;
    /* background-color: blueviolet; */
    display: block;
    text-align: center;
    
    
}

/* .profile-info-container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: min-content();
   grid-template-areas:     "name name"
   "leftinfo rightinfo";
   
   margin-top: 35px;
} */
.profile-column-right {
    grid-area: info;
    font-family: 'Poppins', sans-serif;
    

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content();
    grid-template-areas:    "name name"
                            "leftinfo rightinfo";

    /* margin-top: 35px; */
    /* background-color: red; */
}

.profile-map{
    grid-area: map;

    margin-top: 20px;

    padding: 40px;

    width: 100%;
    height: 400px;

    /* border-radius: 50%; */
}

.name-title-container{
    grid-area: name;
}

.left-profile-info-column{
    grid-area: leftinfo;
    text-align: center;
    
    /* background-color: red; */
}

.right-profile-info-column{
    grid-area: rightinfo;
    text-align: center;
    
    /* background-color: aqua; */
}

.profileinfo-tf {
    width: 80%;
    text-align: left;
}

.profile-column-left {
    grid-area: picture;
    text-align: center;
    
    
    /* background-color: aqua; */
}

.profile-map-text {
    font-weight: 700;
    font-size: 1.5rem;
    padding-top: 45px;
    padding-bottom: 20px;
    color:rgb(19, 19, 19);
}

.profile-picture {
    width: 100%;
    max-width: 200px;
    height: auto;
    
    border-radius: 49px;
}

.name-title {
    color: rgb(19, 19, 19);
    font-weight: 700;
}

.profile-column-right h2 {
    font-size: 2.8rem;
    text-align: center;
    
}

.profile-column-right p {
    font-size: 1rem;
    
}

.edit-btn {
    color: #9966cc !important;

}

.profile-loading {
     /* center text horizontally and vertically */
     display: flex;
     align-items: center;
     justify-content: center;
 
     margin-top: 50px;
}

.cancel-btn {
    color: #D83A56 !important;
}

.confirm-btn {
    color: #4E944F !important;
}

.edit-btn:hover {
    background-color: #e4d9ff !important;
}

.confirm-btn:hover {
    background-color: #83bd75b4 !important;
}

.cancel-btn:hover {
    background-color: #ff616ea1 !important;
}

@media (max-width: 1500px) {
    /* .profile-container {
      display: grid;
      height: 100%;
      grid-auto-rows: minmax(min-content, max-content);
      grid-template-columns: 100%;
      grid-template-areas: "picture"
      "info"
      "buttons"
      "map";
    } */

    .profile-picture {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .profile-column-right {
        font-size: 2.1rem;

    }

    .profile-column-right h2 {
        font-size: 2.8rem;
        
    }
    
    .profile-column-right p {
        font-size: 1rem;
        
    }

    .name-title {
        margin-top: 40px;
    }
}

@media (max-width: 1500px) {
    
    .profile-container {
        display: grid;
        height: 100%;

        grid-template-columns: 100%;
        grid-template-rows: min-content;
        grid-template-areas: "picture"
                             "info"
                             "buttons"
                             "map";
        padding: 80px;
        height: 50%;
        /* background-color: darksalmon; */
    }

    .profile-picture {
        width: 100%;
        max-width: 300px;
        height: auto;
        
        border-radius: 49px;
    }

    .name-title {
        margin-top: 40px;
    }

    .profile-map{
        grid-area: map;
    
        margin-top: 0px;
    
        padding: 0px 20px 20px 20px;
    
        width: 100%;
        height: 400px;
    
        /* border-radius: 50%; */
    }
    .profile-buttons{
        grid-area: buttons;
        /* background-color: blueviolet; */
        display: block;
        text-align: center;
        
        height: 80px;
        /* background-color: #e4d9ff; */
    }

    .profile-map-text {
        
        padding-top: 40px;
    }
    
}