@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

label {
    display: block;
}

input {
    width: 100%;
}

.signin-container {
    font-family: 'Poppins', sans-serif;

    position: relative;
    width: 100%;
    min-height: calc(100vh - 64px);
    overflow: hidden;

    background-color: #ffffff;
}

.signin-container:before{
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-45deg, #9966cc, #7e3fbd);
    top: -10%;
    right: 48%;
    transform: translateY(-50%);

}

.signup-container:before {
    background: linear-gradient(-45deg, #e4d9ff, #7e3fbd);
    
}

.signin-forms-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.signin-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}



.signin-title{
    font-size: 2.5rem;
    color: rgb(39, 39, 39);
    margin-bottom: 10px;
}

.input-field{
    max-width: 380px;
    width: 100%;
    height: 55px;
    
    margin: 10px 0;
    border-radius: 55px;
}

.signin-signup{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
}

.register-advice-text{
    margin-top: 20px;
}