@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");


*,
*::before,
*::after {
    box-sizing: border-box;
}


.msg-main-container {
    font-family: 'Poppins', sans-serif;
    
    padding: 50px 80px 80px 80px;


    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: 40% 60%;
    grid-template-areas:    "msgtitle msgtabs"
                            "msgcontent msgcontent";
}

.msg-title-container {
    grid-area: msgtitle;
    /* background-color: aquamarine; */
    font-size: 2.5rem;
    color: rgb(19, 19, 19);
    
}

.msg-title-container > h3 {
    font-weight: 600;
}

.tooltip-text{
    font-size: 1.1rem !important;
}

.msg-tab-container {
    grid-area: msgtabs;
    /* background-color: red; */

    margin-left: auto;
    display: flex;
    align-items: center;
}

.new-mail-textfield {
    width: 460px !important;
}

.new-mail-dialog {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    
}

.new-mail-dialog-title {
    font-size: 1.4rem !important;
    color: rgb(19, 19, 19);
    font-weight: 600 !important;

}

.new-mail-textfields-container {
    padding-top: 20px;
}

.msg-content {
    grid-area: msgcontent;
    
    padding-top: 60px;

    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "msglist msgtext";

}

.dialog-action {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.msg-list-container {
    grid-area: msglist;
}

.msg-text-container {
    grid-area: msgtext;
    /* background-color: aqua; */
}

.send-button {
    background-color: #4E944F !important;
    border-radius: 10px !important;
    color: #fff !important;

}

.send-button:hover {
    background-color: rgb(110, 161, 111) !important;

}

.cancel-button {
    background-color: #D83A56 !important;
    border-radius: 10px !important;
    color: #fff !important;
}

.cancel-button:hover {
    background-color: #ff616ea1 !important;

}

/* Message List Item */

.msg-list-item {
    height: 55px;
    width: 100%;

    border-radius: 6px !important;
    overflow: hidden;

    /* background-color: red; */
    display: flex;
    align-items: center;
}

.msg-list-item:hover {
    background-color: #9966cc1c !important;
    cursor: pointer;
}

.msg-list-item-info-container {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.msg-list-item-name {
    font-size: 1rem;
    color: rgb(19, 19, 19);

}



.msg-list-item-name-bold {
    font-size: 1rem;
    color: rgb(19, 19, 19);
    font-weight: 600;
}

.msg-list-item-title {
    color: #9c9c9c;
}

/* Message body */

.msg-body-container{
    display: grid;

    padding: 4px 40px;
    
    grid-template-columns: 85% 15%;
    grid-template-areas:    "msg-sender-info msg-date"
                            "msg-contains msg-contains";

}   

.msg-list-item-title-container {
    height: 25px;
    width: 100%;

    /* background-color: antiquewhite; */

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.msg-sender-info-container {
    grid-area: msg-sender-info;

}

.msg-sender-text {
    font-size: 1.2rem;
}

.msg-date-container{
    grid-area: msg-date;
    /* background-color: red; */
    display: flex;
    align-items: center;

}

.msg-date-text {
    color: #9c9c9c;
    font-size: 1rem;
}

.msg-text-contains-container {


    
    grid-area: msg-contains;

    padding: 40px 20px;

    color: #9c9c9c;
    font-size: 1rem;
}

.msg-text-contains-container :is(h3) {
    color: rgb(19, 19, 19);
    font-weight: 500 !important;
}

.msg-text-contains-text {
    padding-top: 20px;
}

@media (max-width: 1500px) {
    .msg-content {
        grid-area: msgcontent;
        
        padding-top: 60px;
    
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-areas: "msglist msgtext";
    
    }

    

}