@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");


*,
*::before,
*::after {
    box-sizing: border-box;
}

.product-container {
    font-family: 'Poppins', sans-serif;

    padding: 80px;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:  min-content();
    grid-template-areas:    "productpic producttitle"
                            "productpic productactions"
                            "whatever whatever";
}  

.product-data {
    grid-area: whatever;
    /* background-color: #D83A56; */

    /* padding: 50px; */
    padding-top: 120px;

    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: min-content();
    grid-template-areas:    "data-title data-tabs"
                            "data data";
}

.data-title-container {
    grid-area: data-title;
    /* background-color: #4E944F; */
}

.product-data-title {
    /* font-size: 1rem; */
    color: #222222;
    font-weight: 500;
    font-size: 1.6rem;
}

.data-tablehead {
    background-color: #a696cd41 !important;
}

.tablecell-title {
    font-weight: 600 !important;
}

.data-menu {
    grid-area: data-tabs;
    /* background-color: #D83A56; */

    margin-left: auto;
    
}

.data-table {
    box-shadow: none !important;
}

.data-table-link:hover {
    text-decoration: underline;
    color: #865fe9;
    cursor: pointer;
}

.data {
    grid-area: data;

    padding-top: 35px;
}

.map-container {
    height: 500px;

}

.product-data-menu-option {
    text-transform: unset !important;
}

.product-image {
    grid-area: productpic;
    /* background-color: aqua; */

    /* center img horizontally and vertically */
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image > img {
    width: 70%;
    height: auto;
    max-height: 400px;
    max-width: 400px;
}

.product-title {
    grid-area: producttitle;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content();
    grid-template-areas:    "auctiontitle auctionbuynow"
                            "auctiondescription auctiondescription";
    /* background-color: blueviolet; */
}

.product-description-container{
    grid-area: auctiondescription;
}

.product-buynow-container {
    grid-area: auctionbuynow;

    /* background-color: #D83A56; */

    /* center contains vertically */
    display: flex;
    align-items: center;
}

.buy-now-button {
    background-color: #4E944F !important;

    width: 200px !important;
    border-radius: 10px !important;


    color: #fff !important;

    margin-left: auto !important;

}

.buy-now-button:hover {
    background-color: rgb(110, 161, 111) !important;
}

.product-title-container {
    grid-area: auctiontitle;
    /* background-color: #4E944F; */
    /* center contains vertically */
    display: flex;
    align-items: center;

}

.product-title-container > h3 {
    font-size: 2rem;
    font-weight: 600;
    color: #131313;

}

.product-description {
    color: #9c9c9c;
    font-size: 1rem;
    padding-top: 20px;
}


.product-actions {
    grid-area: productactions;
    /* background-color: blanchedalmond; */

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% min-content;
    grid-template-areas:    "bidnum bidtime"    
                            "currentprice newbid";
                            
}

.current-price > p {
    color: #9c9c9c;
    padding-top: 70px;
}

.product-price-number {
    color: #131313;
    font-size: 1.4rem;

}

.product-bid-textfield {
    /* width: 150px !important; */
    width: 95% !important
}

.product-bid-button {
    width: 80px !important;

    border-radius: 10px !important;

    background-color: #803cc0 !important;
}

.product-bid-button:disabled {
    background-color: #d1d1d1 !important;
    cursor: no-drop;
}

.product-bid-button:hover {
    background-color: #9953db !important;
}

.new-bid-product-stack{
    margin-left: auto;
}

.current-price {
    grid-area: currentprice;
    /* background-color: #4E944F; */
}

.new-bid-product-stack-container{
    grid-area: newbid;
    /* background-color:  red; */
}

.bidders-number-container {
    grid-area: bidnum;
    /* background-color: darkcyan; */
}

.time-left-container {
    grid-area: bidtime;
    /* background-color: aquamarine; */
}



.new-bid-product-stack {
    padding-top: 70px;
}

.bid-dialog {
    font-family: 'Poppins', sans-serif;
}


.dialog-disagree-btn{
    color: #D83A56 !important;
}


.dialog-agree-btn {
    color: #4E944F !important;
}

@media (max-width: 1050px) {
    .product-container {

        padding: 60px;

        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 400px 200px 150px calc(100% - 800px);
        grid-template-areas:    "productpic"
                                "producttitle"
                                "productactions"
                                "whatever";
    }
    .product-data {
        padding-top: 50px;
    }

}

